# ============================================================
# Copy this file to terraform.tfvars and fill in your values
# cp terraform.tfvars.example terraform.tfvars
# ============================================================

# AWS Region
aws_region = "us-east-1"

# Project
project_name = "shopeasy"
environment  = "dev"

# VPC
vpc_cidr = "10.0.0.0/16"

# EC2 (Jenkins)
instance_type        = "t3.medium"
public_key_path      = "terra-key.pub"
jenkins_allowed_cidr = "YOUR_IP/32"  # Replace with: curl ifconfig.me

# EKS
eks_node_instance_type  = "t3.large"
eks_node_min_size       = 2
eks_node_max_size       = 3
eks_node_desired_size   = 2
enable_spot_instances   = true
